.main__shoppingList__plantList__plantItem {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

.main__shoppingList__plantList__plantItem__cover {
    height: 220px;
    width: 220px;
    border-radius: 20px;
}